<div id="<%= dom_id day %>" class = "day">
  <p>
    <div class="block"><strong>Date</strong></div>
    <div class="block"><%= day.mooddate %></div>
  </p>

  <p>
    <div class="block"><strong>Rating from -5 - 5</strong></div>
    <div class="block"><%= day.moodrating %></div>
  </p>

  <p>
    <div class="block"><strong>Description</strong></div>
    <div class="block"><%= day.moodjournal %></div>
  </p>

  <p>
    <div class="block"><strong>One Word Description</strong></div>
   <div class="block"> <%= day.moodword %></div>
  </p>

</div>
