<p style="color: green"><%= notice %></p>

<h2>Your mood over time</h2>


<%= line_chart Day.group_by_day(:mooddate).sum(:moodrating) %>

<h2>All daily mood ratings</h2>

<div id="days" >
  <% @days.reverse_each do |day| %>
  <div class="daydetails">
    <%= render day %>
    <p>
      <%= link_to "Show this day", day %>
    </p>
    </div>
  <% end %>
</div>

<button type='button' onclick="location.href='<%= new_day_path() %>';">New Day</button>
